@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Lora&display=swap');

.slideContainer {
  display: flex;
  gap: 10px;
}

.slide {
  height: 80vh;
  border-radius: 20px;
  cursor: pointer;
  color: aliceblue;
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow-x: hidden;
  transition: all 500ms ease-in-out;
}

.slide h3 {
  position: absolute;
  font-size: 24px;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
  background: rgb(88, 28, 135, 0.5);
  color: white;
  padding: 10px;
  border-radius: 10px;
  backdrop-filter: blur(5px);
  box-shadow: 0 0 10px rgba(88, 28, 135, 0.5); 
  text-align: center;
}

.slide.active {
  flex: 10;
}

.slide.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

.additionalFont {
  font-family: 'Caveat', cursive;
  font-weight: 500;
  font-size: 28px;
  text-align: end;
  color: #b6e1f1;
  margin: 3% 0;
}
